body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
 .num{
     color: rgba(255, 255, 255, 0.267);
     font-weight: bold;
     font-size: 1.5em;
     position:absolute;
     margin-top:-110px ;
     margin-left: 210px;
     
 }
 .stat {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 0px 20px 0 20px;
     width: 60px;
 }
 .stat-xp {

display: flex;
flex-direction: column;
align-items: center;
margin-top: -20px;
margin-bottom: 30px;
 }
 .stats-column {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 .stat-tittle {
     font-weight: bold;
    
 } 

 .type {
     position: absolute;
     text-align: center;
     margin-top: 150px;
     color: rgb(255, 255, 255);
     

 }
 
 .xp{
     font-size: 25px;
     font-weight: bold;
 }


 
.app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card:hover .type{
    color: #fff;
}
.container{
 
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    cursor: pointer;
    margin: 0 9px;
}

.container .card .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .card .face.face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 10px;
}

.container .card:hover .face.face1{
    transform: translateY(0);
    border-radius: 10px 10px 0 0;
}

.container .card .face.face1 .content{
    /* opacity: 0.4; */
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.container .card .face.face1 .content img{
    max-width: 100px;
    margin-right: 20px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
    border-radius: 20px;
}

.container .card:hover .face.face2{
    transform: translateY(0);
    border-radius:  0 0 10px 10px;
}

.container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}
.card .face.face1.type-fire {
    
    background: rgb(236, 80, 7);
}
 .card .face.face1.type-electric {
    background: orange;
}
.card .face.face1.type-bug {
    background: rgb(8, 180, 22);
}
.card .face.face1.type-water {
    background: rgb(8, 119, 223);
     
}
.card .face.face1.type-grass {
    background: rgb(5, 104, 13);
}
.card .face.face1.type-normal {
    background: rgb(45, 48, 47);
}
.card .face.face1.type-poison {
    background: rgb(49, 11, 66);
}

.card .face.face1.type-ground{
    background: rgb(53, 46, 18);
}
.card .face.face1.type-fairy{
    background: rgb(202, 15, 171);
}
.card .face.face1.type-fighting{
    background: rgb(202, 121, 15);
}
.card .face.face1.type-psychic{
    background: rgb(221, 236, 7);
}
.card .face.face1.type-dragon{
    background: #ff0000;
}
.card .face.face1.type-ice{
    background: rgb(4, 102, 214);
}

.card .face.face1.type-steel{
    background: rgb(100, 119, 139);
}
.card .face.face1.type-rock{
    background: rgb(65, 76, 88);
}
.card .face.face1.type-dark{
    background: rgb(0, 0, 0);
}
.card .face.face1.type-flying{
    background: rgb(101, 139, 209);
}